{% extends "base.html" %}
{% load static %}

{% block title %}{{task.title}}{% endblock %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href="{% static 'css/task_info.css' %}">
</head>
<body>
    {% block content %}
    <div class="task-container">
        <h1>{{ task.title }}</h1>
        <p class="description">{{ task.description }}</p>

        {% if task.created_at %}
        <div class="date">Создано: {{ task.created_at|date:"d.m.Y H:i" }}</div>
        {% endif %}
    </div>
    {% endblock content %}
</body>
</html>
