{% extends "base.html" %}
{% load static %}

{% block title %}{{ task.id }} - {{ task.title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/task_info.css' %}">
{% endblock %}

{% block content %}
<div class="task-container">
    <h1>{{ task.title }}</h1>
    <p class="description">{{ task.description }}</p>

    {% if request.user != task.user %}
        {% if task.taken_by %}
            <p class="taken-by">Эта задача уже взята: {{ task.taken_by.username }}</p>
        {% else %}
            <form method="post" action="take/">
                {% csrf_token %}
                <button type="submit">Взяться за задачу</button>
            </form>
        {% endif %}
    {% endif %}

    {% if task.created_at %}
    <div class="date">Создано: {{ task.created_at|date:"d.m.Y H:i" }}</div>
    {% endif %}

    <a href="/tasks/{{ task.id }}/edit" class="edit-button">Редактировать</a>
</div>
{% endblock %}
