{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="header-container text-center py-10">
    <div class="main-header text-5xl font-extrabold">МИКРО-МАРКЕТПЛЕЙС ЗАДАЧ ДЛЯ РАЗРАБОТЧИКОВ</div>
    <div class="sub-header text-lg text-gray-400 max-w-2xl mx-auto mt-4">
      Простые задачи — быстрые решения. Платформа, объединяющая тех, кому нужно быстро решить конкретную проблему, и тех, кто хочет применить свои навыки в деле.
    </div>
  </div>
{% endblock %}
